.home-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 10% 30% 60%;
  height: 100vh;
  width: 100vw;
  gap: 0px 0px;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  z-index: 5;
}

.navbar {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px 20px;
  font-size: 36px;
  font-weight: 900;
  border-bottom: 3px solid rgb(89, 89, 89);
  z-index: 1000;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.navbar h3 {
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(to bottom right, rgb(255, 230, 255), rgb(192, 192, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid rgb(89, 89, 89);
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  z-index: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}

.top-left {
  grid-column: 1;
  grid-row: 2;
  z-index: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}

.top-left h3 {
  background: linear-gradient(to bottom right, rgb(255, 230, 255), rgb(192, 192, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.top-right {
  grid-column: 2;
  grid-row: 2;
  z-index: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}

.top-right h3 {
  background: linear-gradient(to bottom right, rgb(255, 230, 255), rgb(192, 192, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.bottom-left {
  grid-column: 1;
  grid-row: 3;
  z-index: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}

.bottom-left h3 {
  font-size: 28px;
  background: linear-gradient(to bottom right, rgb(255, 230, 255), rgb(192, 192, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.tile p {
  font-size: 14px;
}

.bottom-right {
  grid-column: 2;
  grid-row: 3;
}

.bottom-right h3 {
  font-size: 28px;
  background: linear-gradient(to bottom right, rgb(255, 230, 255), rgb(192, 192, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.dropdown-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.form-container select {
  padding: 8px;
  font-size: 16px;
  width: 30%;
  max-width: 250px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #333;
  color: white;
  border: 1px solid #555;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.form-container select {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 12px;
}

.form-container select:hover {
  background-color: #444;
  border-color: #666;
}

.form-container select:focus {
  outline: none;
  border-color: #74adfc;
  box-shadow: 0 0 5px rgba(116, 173, 252, 0.5);
}

.form-container select option {
  background-color: #333;
  color: white;
}

.form-container button {
  margin-top: 0px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to bottom right, rgb(177, 136, 177), rgb(120, 120, 173));
  color: white;
  border: 3px solid rgb(89, 89, 89);
  border-radius: 5px;
  width: 70%;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease-in-out;
}

.form-container button:hover {
  box-shadow: 0 0 15px rgba(177, 136, 177, 0.8), 0 0 25px rgba(120, 120, 173, 0.8);
  background: linear-gradient(to bottom right, rgb(171, 1, 171), rgb(2, 2, 176));
}

.indicator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.indicator-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sample-container {
  width: 70vw;
  height: 90vh;
  max-width: 1200px;
  max-height: 400px;
  border: 5px solid rgb(89, 89, 89);
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

.question-mark-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  color: #74adfc;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 1000;
}

.tooltip-content {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  padding: 10px;
  border: 5px solid grey;
  border-radius: 10px;
  font-size: 16px;
  white-space: normal;
  word-wrap: break-word;
  max-width: 700px;
  z-index: 1001;
}

.logo {
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
}

.stock-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.stock-info p {
  margin: 0;
  line-height: 1.;
  font-size: 18px;
}

.stock-info .price {
  color: #4caf50;
  margin-left: 10px;
}

.stock-info .price.negative {
  color: red;
}
