body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  min-height: 100vh; /* Ensures the body takes at least the full viewport height */
  margin: 0; /* Removes default margin */
  background-image: url(assets/clouds.png);
  background-attachment: fixed;
}

.indicator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.indicator-container h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  background: linear-gradient(to bottom right, rgb(137, 137, 137), rgb(2, 2, 176));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.chart-container {
  width: 95vw;
  height: 80vh;
  max-width: 1700px;
  max-height: 800px;
  border: 6px solid grey;
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

.price-chart-container {
  width: 95vw;
  height: 55vh;
  max-width: 1700px;
  max-height: 800px;
  border: 6px solid grey;
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

.short-chart-container {
  width: 95vw;
  height: 35vh;
  max-width: 1700px;
  max-height: 800px;
  border: 6px solid grey;
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

.indicator-chart-container {
  width: 95vw;
  height: 25vh;
  max-width: 1700px;
  max-height: 800px;
  border: 6px solid grey;
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
  position: relative;
}


.question-mark-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  color: #001e48;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 1000;
}

.tooltip-content {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  white-space: normal;
  word-wrap: break-word;
  max-width: 700px;
  z-index: 1001;
}

.strategy-header {
  text-align: center;
  margin: 20px 0;
  padding: 10px 0;
  border-top: 2px solid #aaaaaa;
  border-bottom: 2px solid #aaaaaa;
  font-size: 30px;
}
