body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  min-height: 100vh; /* Ensures the body takes at least the full viewport height */
  margin: 0; /* Removes default margin */
}

.indicator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.indicator-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.chart-container {
  width: 90vw;
  height: 70vh;
  max-width: 1200px;
  max-height: 700px;
  border: 5px solid grey;
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

.question-mark-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  color: #74adfc;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 1000;
}

.tooltip-content {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  white-space: normal;
  word-wrap: break-word;
  max-width: 700px;
  z-index: 1001;
}
